/*GLOBAL FORMATTING-------------------------------------------------------------------*/

html {
  height: 100%;
}

html,
body {
  font-family: Gurmukhi MT;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  background-color: #13686a;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* HEADER ----------------------------------------------------------------------------*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 0.5rem solid black;
}

.container-menu {
  margin-top: 1.5rem;
  margin-left: 5rem;
}

.container-brand {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.container-menu .container-brand .title {
  font-size: 2.8rem;
  font-weight: lighter;
  line-height: 1rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.menu ul {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  line-height: 1rem;
}

.menu li a {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-right: 0.1rem solid black;
}

.menu li a:hover {
  background-color: #d9b970;
  transition-duration: 300ms;
}

.readme {
  height: 3rem;
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
}

.readme:hover {
  background-color: #d9b970;
  transition-duration: 300ms;
}

.container-services ul {
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
  margin-right: 5rem;
}

.container-services i {
  font-size: 3rem;
  padding-right: 2rem;
  transform: scale(1);
}

.container-services i:hover {
  transform: scale(1.5);
  transition-duration: 300ms;
}

.container-services img {
  background-size: cover;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  border-radius: 100%;
}

/*TITLE-------------------------------------------------------------------------*/

.title h2 {
  text-align: center;
  font-size: 4rem;
}

/*PANIER------------------------------------------------------------------------*/
/*POSITIONING-------------------------------------------------------------------*/

.panier {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-panier {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.products-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 00.1rem solid black;
}

/*PANIER------------------------------------------------------------------------*/
/*PRODUCT-IMAGE-----------------------------------------------------------------*/
.products-button img {
  background-size: cover;
  width: 20rem;
  height: 20rem;
  padding-left: 0%;
}
/*PANIER------------------------------------------------------------------------*/
/*PRODUCT-TEXT------------------------------------------------------------------*/

.text-description {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*PANIER------------------------------------------------------------------------*/
/*PRODUCT-SIZING----------------------------------------------------------------*/

.sizing-description {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.established-sizes {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.established-sizes input {
  width: 4rem;
  height: 2rem;
}

.wished-size {
  margin-top: 1rem;
  display: none;
}

input:checked ~ .wished-size {
  display: block;
}

/*PANIER------------------------------------------------------------------------*/
/*PRODUCT-BUTTON----------------------------------------------------------------*/

.add-button input {
  border: 0.1rem solid black;
  height: 3rem;
  width: 3rem;
  margin-top: 9rem;
}

.add-button p {
  font-size: 3rem;
  padding-top: 6rem;
}

/*PANIER------------------------------------------------------------------------*/
/*PRODUCT-PRICE-----------------------------------------------------------------*/

.sized-price {
  margin-top: 9rem;
  font-size: 2rem;
  line-height: 0%;
}

/*PANIER------------------------------------------------------------------------*/
/*PRODUCT-TRASH-----------------------------------------------------------------*/

.fa-trash {
  margin-top: 9.7rem;
  font-size: 2rem;
}

/*PANIER------------------------------------------------------------------------*/
/*MODALITY----------------------------------------------------------------------*/

.modalities-prices {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalities-prices i {
  font-size: 3rem;
}

.modalities {
  margin-top: 4rem;
}

/*CONFIRMATION------------------------------------------------------------------*/

.confirmation {
  text-align: center;
  margin-top: 2rem;
  width: 15rem;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.confirmation a {
  font-size: 1.5rem;
  border: 0.1rem solid black;
  padding-top: 0.5rem;
  text-align: center;
  background-color: #d9b970;
  cursor: pointer;
}

/*SECTION FOOTER----------------------------------------------------------------------*/

footer {
  border-top: 0.5rem solid black;
  margin-top: 5rem;
  font-size: 5rem;
}

footer .social-network-logos {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

footer .social-network-logos a {
  transform: scale(1);
}

footer .social-network-logos a:hover {
  transform: scale(1.5);
  transition-duration: 300ms;
}

footer .textuel {
  margin-top: 5rem;
  font-size: 3rem;
  text-align: center;
  line-height: 0%;
  padding-bottom: 2rem;
}

/* RESPONSIVITY -------------------------------------------------------------------------*/

@media all and (max-width: 480px) {
  /* HEADER --------------------------------------------------------------------------*/

  header {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 0.5rem solid black;
  }

  .container-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }

  .container-menu .container-brand .title {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1rem;
  }

  .logo {
    width: 4rem;
    height: 4rem;
  }

  .menu {
    display: none;
  }

  .container-services ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5rem;
    margin-right: 0rem;
  }

  /*SECTION PANIER--------------------------------------------------------------------*/

  .panier {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modalities-prices {
    text-align: center;
  }

  .products-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 00.1rem solid black;
  }

  .products-button img {
    margin-left: auto;
    margin-right: auto;
  }

  .established-sizes {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  /*SECTION FOOTER--------------------------------------------------------------------*/

  footer .textuel {
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
    line-height: 0%;
  }
}
@media (min-width: 480px) and (max-width: 780px) {
  /* HEADER --------------------------------------------------------------------------*/

  header {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 0.5rem solid black;
  }

  .container-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }

  .container-menu .container-brand .title {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1rem;
  }

  .logo {
    width: 4rem;
    height: 4rem;
  }

  .menu {
    display: none;
  }

  .container-services ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5rem;
    margin-right: 0rem;
  }

  /*SECTION PANIER--------------------------------------------------------------------*/

  .panier {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modalities-prices {
    text-align: center;
  }

  .products-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 00.1rem solid black;
  }

  .products-button img {
    margin-left: auto;
    margin-right: auto;
  }

  .established-sizes {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  /*SECTION FOOTER--------------------------------------------------------------------*/

  footer .textuel {
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
    line-height: 0%;
  }
}
@media (min-width: 781px) and (max-width: 979px) {
  /* HEADER --------------------------------------------------------------------------*/

  header {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 0.5rem solid black;
  }

  .container-brand {
    display: flex;
    justify-content: center;
  }

  .container-menu .container-brand .title {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1rem;
  }

  .logo {
    width: 4rem;
    height: 4rem;
  }

  .menu {
    display: none;
  }

  .container-services ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5rem;
    margin-right: 0rem;
  }

  /*SECTION PANIER--------------------------------------------------------------------*/

  .panier {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modalities-prices {
    text-align: center;
  }

  .products-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 00.1rem solid black;
  }

  .products-button img {
    margin-left: auto;
    margin-right: auto;
  }

  .established-sizes {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  /*SECTION FOOTER--------------------------------------------------------------------*/

  footer .textuel {
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
    line-height: 0%;
  }
}
